.containerCounter{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}


.label {
    padding: 0 2rem;
    font-size: 2rem;
}

.container-count{
    margin-bottom: 20px;
}

.addtocart{
    margin-right: 1em;
}

.container-noStock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

